<script type='text/javascript'>
    window.gas = <%- JSON.stringify(gas) %>;
</script>
<div class='container' ng-controller='gasolineraCTL'>
	<div class='row'>
		<h2>Estacion {{gas.num}} en {{gas.municipio}}, {{gas.estado}}</h2>
		<div class='col-md-4'>
			<p><b>Numero:</b> {{gas.num}}</p>
			<p><b>Razon social:</b> {{gas.razon_social}}</p>
			<p><b>Calle:</b> {{gas.calle}}</p>
			<p><b>Colonia:</b> {{gas.colonia}}</p>
			<p><b>Localidad:</b> {{gas.localidad}}</p>
			<p><b>Estado:</b> {{gas.estado}}</p>
			<p><b>CP:</b> {{gas.cp}}</p>
		</div>
		<div class='col-md-8'>
			<leaflet center='mapCenter' markers='markers' height="480px"></leaflet>
		</div>
	</div>
</div>