<div class="jumbotron hidden">
  <div class="container">
    <img src="/images/gasolinapp.png" alt="Gasolinapp" class="logo-jumbotron">
    <!--<h1>Gasolinapp</h1>-->
    <p>Las gasolineras en Mexico nos roban todos los dias. El gobierno no hace nada, es hora de que los ciudadanos tomemos el control!</p>
    <img src="/images/app.png" alt="app">
  </div>
</div>