<div class="jumbotron">
  <div class="container">
    <h1>Gasolinapp</h1>
    <p>Las gasolineras en Mexico nos roban todos los dias. El gobierno no hace nada, es hora de que los ciudadanos tomemos el control!</p>
    <p><a class="btn btn-primary btn-lg" role="button">Busca tu ciudad &raquo;</a></p>
  </div>
</div>