<!DOCTYPE html>
<html lang="en" ng-app='gasolinapp'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="spaceshiplabs.com">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="description" content="">

    <meta property="og:type" content="website" />
    <!-- <meta property="og:title" content="" />
    <meta property="og:description" content="">
    <meta property="og:url" content="" />
    <meta property="og:image" content="" /> -->
    <title>Gasolinapp</title>
    

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/leaflet-dist/leaflet.css">
    <link rel="stylesheet" href="/bower_components/leaflet.markerclusterer/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" href="/bower_components/leaflet.markerclusterer/dist/MarkerCluster.css">
    <link rel="stylesheet" href="/bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

  </head>
  <body>
    <div id='content' ng-controller='homeController'>
        <%- partial('global/navbar') -%> 
        <%- body -%>
    
        <footer>
            <p class="pull-right">
                Fuentes:  
                <a target="_blank" href='http://www.profeco.gob.mx/transparencia/transfocaliza/transfocaliza.asp'>PROFECO</a> 
                <a target="_blank" href="http://datamx.io/dataset/gasolineras-en-mexico-formato-geojson/resource/94267a98-be48-49b3-91f0-6d7d4b9970e1">Tu Gobierno en Mapas (difunto)</a> 
            </p>
            <p>
                <a href='http://spaceshiplabs.com'><img class="footer-logo" src="/images/logospaceshiphome.png" width="136" alt="Spaceshiplabs"></a> &middot; 
                <a href="https://github.com/el-sonny/gasolinapp">Github</a>
                <a href="https://github.com/el-sonny/gasolinapp">Widget</a>
            </p>            
        </footer>
    
    </div>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-sails/dist/angular-sails.min.js"></script>
    <script src="/bower_components/leaflet-dist/leaflet.js"></script>
    <script src="/bower_components/leaflet.markerclusterer/dist/leaflet.markercluster.js"></script>
    <script src="/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <script src="/bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angularjs-geolocation/src/geolocation.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/js/homeController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>