<!DOCTYPE html>
<html lang="en" ng-app='gasolinapp'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="spaceshiplabs.com">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="description" content="">

    <meta property="og:type" content="website" />
    <!-- <meta property="og:title" content="" />
    <meta property="og:description" content="">
    <meta property="og:url" content="" />
    <meta property="og:image" content="" /> -->
    <title>Gasolinapp</title>
    

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/select2/select2.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

  </head>
  <body>
    <%- partial('global/navbar') -%> 
    
    
    <%- body -%>
    
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Regresar al principio</a></p>
            <p>
                <a popover="GNU" popover-trigger="mouseenter" href='https://github.com/el-sonny/nomaspoderalpoder' class='copyleft pull-left'>&copy;</a>
                2014 
                <a href='http://spaceshiplabs.com'>spaceshiplabs.com</a> &middot; 
                <a href="https://github.com/el-sonny/gasolinapp">Github</a>
            </p>            
        </div>
    </footer>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/select2/select2.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="/bower_components/angular-sails/dist/angular-sails.min.js"></script>
    <script src="/bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="/js/controller.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>