<!DOCTYPE html>
<html lang="en" ng-app='gasolinapp'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="spaceshiplabs.com">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="description" content="">

    <meta property="og:type" content="website" />
    <!-- <meta property="og:title" content="" />
    <meta property="og:description" content="">
    <meta property="og:url" content="" />
    <meta property="og:image" content="" /> -->
    <title>Gasolinapp</title>
    

    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.css">
    <!--STYLES END-->

  </head>
  <body>
    <div id='content' ng-controller='homeController'>
        <%- partial('global/navbar') -%> 
        <%- body -%>
    
        <footer>
            <p class="pull-right">
                Fuentes:  
                <a target="_blank" href='http://www.profeco.gob.mx/transparencia/transfocaliza/transfocaliza.asp'>PROFECO</a> 
                <a target="_blank" href="http://datamx.io/dataset/gasolineras-en-mexico-formato-geojson/resource/94267a98-be48-49b3-91f0-6d7d4b9970e1">Tu Gobierno en Mapas</a> (<a target="_blank" href='http://cidge.gob.mx/menu/servicios/herramientas-de-gobierno-digital/tu-gobierno-en-mapas-como-implementar-mapas-en-tu-gobierno-en-mapas/'>difunto</a>)
            </p>
            <p>
                <a target='_blank' href='http://spaceshiplabs.com'><img class="footer-logo" src="/images/logospaceshiphome.png" width="136" alt="Spaceshiplabs"></a> &middot; 
                <a target='_blank' href="https://github.com/el-sonny/gasolinapp">Github</a>
                <a target='_blank' href="https://github.com/el-sonny/gasolinapp/wiki/Widget">Widget</a>
            </p>            
        </footer>
    
    </div>
    <%- partial('global/analytics') -%> 
    <!--SCRIPTS-->
    <script src="/min/production.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>