<script type='text/javascript'>
    window.municipios = <%- JSON.stringify(municipios) %>;
    window.entidades = <%- JSON.stringify(entidades) %>;
</script>
<div class='container-fluid' >
	<div class='row'>
		<leaflet center='mapCenter'  layers="layers" markers='markers' defaults='options' height="480px"></leaflet>
	</div>
</div>