<div class='map-content'>
	<script type='text/javascript'>
	    window.municipios = <%- JSON.stringify(municipios) %>;
	    window.entidades = <%- JSON.stringify(entidades) %>;
	    window.geo = <%- JSON.stringify(geo) %>;
	</script>
	<div class='sidebar active'>
		<ul class="gas-icons">
			<li><p>Gasolineras no evaluadas por PROFECO</p></li>
			<li><p>Gasolineras no evaluadas por PROFECO</p></li>
			<li><p>Gasolineras no evaluadas por PROFECO</p></li>
			<li><p>Gasolineras no evaluadas por PROFECO</p></li>
		</ul>
	</div>
	<div class="gas-numbers">
		<div class="box">
			<div class="arrow"></div>
			<h4>324 gasolineras en Monterrey</h4>
			<ul>
				<li class="pin-gray">100 con semaforo verde</li>
				<li class="pin-yellow">20 con amarillo</li>
				<li class="pin-red">2 con roja</li>
				<li class="pin-gray">140 no evaluadas</li>
			</ul>			
		</div>
	</div>
	<leaflet bounds='bounds' center='mapCenter' ng-class='mapClass' class='map' layers="layers" markers='markers' defaults='options' ></leaflet>
</div>