<div class='map-content'>
	<script type='text/javascript'>
	    window.municipios = <%- JSON.stringify(municipios) %>;
	    window.entidades = <%- JSON.stringify(entidades) %>;
	    window.selectedEntidad = <%- JSON.stringify(selectedEntidad) %>;
	    window.selectedMunicipio = <%- JSON.stringify(selectedMunicipio) %>;
	</script>
	<div class='sidebar active'>
		<ul class="gas-icons">
			<li class="animate-bg"><p>Gasolineras no evaluadas por PROFECO</p></li>
			<li class="animate-bg"><p>Gasolineras no evaluadas por PROFECO</p></li>
			<li class="animate-bg"><p>Gasolineras no evaluadas por PROFECO</p></li>
			<li class="animate-bg"><p>Gasolineras no evaluadas por PROFECO</p></li>
		</ul>
	</div>
	<div class="gas-numbers">
		<div class="gas-numbers-container">
			<div class="arrow"><a href="#" ng-click="toggleGas = !toggleGas"></a></div>

			<div class="box" ng-show="toggleGas">
				<h4 >{{gasSummary()}}</h4>
				<ul>
					<li class="pin-gray"><strong >{{gasStats.VERDE}}</strong> con semaforo verde</li>
					<li class="pin-yellow"><strong>{{gasStats.AMARILLO}}</strong> con semaforo amarillo</li>
					<li class="pin-red"><strong>{{gasStats.ROJO}}</strong> con semaforo rojo</li>
					<li class="pin-gray"><strong>{{gasStats.GRAY}}</strong> no evaluadas por PROFECO</li>
				</ul>			
			</div>
		</div>
	</div>
	<leaflet bounds='bounds' center='mapCenter' ng-class='mapClass' class='map' layers="layers" markers='markers' defaults='options' ></leaflet>
</div>