@footer-color: #585858;


body{
  padding-top: 50px;
  padding-bottom: 20px;
}

.copyleft{transform:rotate(180deg);
-ms-transform:rotate(180deg);
-webkit-transform:rotate(180deg); margin:0 3px 0 0;}
.bgTransition{
    webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
}
.angular-google-map-container { height: 400px; }
.capitalize{text-transform: lowercase;}

#map{width:100%;height:400px;}

.navbar-form.navbar-right{width:30%;}
.select2-container{width:100%;}


.custom-cluster{margin-left: -20px; margin-top: -20px; width: 40px; height: 40px; -webkit-transform: translate3d(1101px, 200px, 0px); z-index: 200; opacity: 1;}

.leaflet-marker-icon.GRAY{background-color:rgba(86,86,86,.6)}
.leaflet-marker-icon.GRAY div{background-color:rgba(86,86,86,.9);color:white;}
.leaflet-marker-icon.VERDE{background-color:rgba(109,171,36,.3)}
.leaflet-marker-icon.VERDE div{background-color:rgba(109,171,36,.6)}

.leaflet-marker-icon.AMARILLO{background-color:rgba(242,145,45,.3)}
.leaflet-marker-icon.AMARILLO div{background-color:rgba(242,145,45,.6)}

.leaflet-marker-icon.ROJO{background-color:rgba(210,60,40,.3)}
.leaflet-marker-icon.ROJO div{background-color:rgba(210,60,40,.6)}