html{height:100%;width:100%;}
body{height:100%;width:100%;padding-top:67px;}


#header{background:#00AC5D url(../images/Imagen.pdng) no-repeat center top;height:80px;border:none;padding:0;}
#header a{color:white;}
#header a:hover{color:white;}
#header .navbar-brand{padding:10px;}
#header .toggle-sidebar{width:65px;height:80px;background:#00AC5D url(../images/Gas.png) no-repeat center center;float:left;}
#header .logo{width:136px;height:62px;}


#content{position:absolute;top:80px;bottom:0;width:100%;padding-bottom:55px;}
#content .map-content{height:100%;position:relative;}
#content .map-content .map{margin-left:63px;height:100%;width:100%;}
#content .map-content .map.blur{opacity:.6;-webkit-filter:grayscale(.5) blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter:grayscale(0.5)  blur(3px); filter: blur(3px);}
#content .map-content .sidebar{width:63px;background-color:black;height:100%;position:absolute;top:0;bottom:0;}


.capitalize{text-transform: lowercase;}



#header .select2-container{width:173px;height:30px;padding:5px 10px}
#header .select2-container .select2-choice{background-color:transparent;background-image:none;border:1px solid white;border-radius:0;}
#header .select2-container .select2-choice > .select2-chosen{color:white;}
#header .select2-container .select2-choice .select2-arrow{background:none;border:none;background:transparent url(../images/pestanablanca.png) no-repeat	center 5px;}
#header .select2-container .select2-choice .select2-arrow b{background:none;}

.custom-cluster{margin-left: -20px; margin-top: -20px; width: 40px; height: 40px; -webkit-transform: translate3d(1101px, 200px, 0px); z-index: 200; opacity: 1;}

.leaflet-marker-icon.GRAY{background-color:rgba(86,86,86,.6)}
.leaflet-marker-icon.GRAY div{background-color:rgba(86,86,86,.9);color:white;}
.leaflet-marker-icon.VERDE{background-color:rgba(109,171,36,.3)}
.leaflet-marker-icon.VERDE div{background-color:rgba(109,171,36,.6)}

.leaflet-marker-icon.AMARILLO{background-color:rgba(242,145,45,.3)}
.leaflet-marker-icon.AMARILLO div{background-color:rgba(242,145,45,.6)}

.leaflet-marker-icon.ROJO{background-color:rgba(210,60,40,.3)}
.leaflet-marker-icon.ROJO div{background-color:rgba(210,60,40,.6)}

.leaflet-control-layers.leaflet-control {display: none;}

footer{position:absolute;background-color:white;width:100%;height:45px;padding:5px 10px;bottom:0px;}